<% provide(:title, "Contact | Personal Trainer Pro") %>
<div class="row">
  <div class="large-12 columns panel">
    <h1>Contact</h1>
    <h2>
      Need to get in touch?
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tenetur voluptas vitae inventore quod aperiam, maiores iure iusto dolore aspernatur.</p>
  </div>
</div>

