<% provide(:title, "Help | Personal Trainer Pro") %>
<div class="row">
  <div class="large-12 columns panel">
    <h1>Help</h1>
    <h2>
      Need help getting started?  
    </h2>
    </p>
      We offer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sint quisquam, quas distinctio expedita dicta!
    <p>
        
  </div>
</div>