<% provide(:title, "Home | Personal Trainer Pro") %>
<div class="row">
  <div class="large-12 columns panel hero">
    <%= image_tag "ptrainer1.jpeg", size: "1080x500" %>
    <h1>Welcome to Personal Trainer Pro</h1>
    <p>
      This is the home page for the application that 
      is going to revolutionize the personal training
      industry.
    </p>
  </div>
  <div class="row" data-equalizer>
    <div class="large-4 columns left" data-equalizer-watch>
      <div class="panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quibusdam sit laboriosam, molestiae aperiam ipsam.</div>
    </div>
    <div class="large-4 columns left" data-equalizer-watch>
      <div class="panel">Molestias, aut, et. Quos autem assumenda ducimus quisquam, architecto distinctio! Quasi laboriosam, a tenetur ea!</div>
    </div>
    <div class="large-4 columns left" data-equalizer-watch>
      <div class="panel">Sunt, rerum, fugiat! Neque recusandae, nesciunt eius quaerat cumque dolore dolorem ex itaque, a ipsam.</div>
    </div>
  </div>
</div>