<h1><%= pluralize(@videos.size, 'Video') %>  Available</h1>

<% @videos.each do |video| %>
  <article>
    <header>
      <h2><%= video.title %></h2>
    </header>
    <p>
      <%= truncate(video.description, length: 40, separator: ' ') %>
    </p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/<%= video.youtube_id %>" frameborder="0" allowfullscreen></iframe>
  </article>
<% end %>
