<h1><%= pluralize(@plan_details.size, 'Plan Detail') %></h1>

<h3><%= link_to 'Add New Plan Detail', new_plan_detail_path %></h3>

<% @plan_details.each do |plan_detail| %>
  <article>
    <table>
      <tr>
        <th>Plan Detail</th>
        <td><%= plan_detail.plan_id %></td>
      </tr>
    </table>
  </article>
<% end %>