<h1><%= pluralize(@plans.size, 'Plan') %> Assigned</h1>

<h3><%= link_to 'Create New Plan', new_plan_path %></h3>

<% @plans.each do |plan| %>
  <article>
    <header>
      <h2><%= link_to("#{plan.client.name}'s Plan", plan) %></h2>
    </header>
  </article>
<% end %>
