<h1><%= pluralize(@exercises.size, 'Exercise') %>  to choose from</h1>

<% @exercises.each do |exercise| %>
  <article>
    <header>
      <h2><%= exercise.name %></h2>
    </header>
    <p>
      <%= truncate(exercise.description, length: 40, separator: ' ') %>
    </p>
    <table>
      <tr>
        <th>Difficulty Level:</th>
        <td><%= exercise.difficulty %></td>
      </tr>
    </table>
  </article>
<% end %>
